/* Navbar */
header {
  height: 33.3%;
}

header > nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

header > nav > ul {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  padding: 0;
  color: red;
}

header > nav > ul > li {
  font-size: 1.2rem;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  color: azure;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

/* Footer */
footer {
  height: 10%;
}

footer > p {
  color: azure;
  text-align: center;
}

footer > p > a {
  text-decoration: none;
  color: gold;
}

footer > p > a:visited {
  text-decoration: none;
  color: gold;
}