/* page-wrapper */
.landing-page-wrapper {
  height: 100%;
  background-image: url(../images/landing-background-image.jpg);
  background-size: cover;
  background-position: center;
}

.page-wrapper {
  background-image: url(../images/trivia/trivia-background-image.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Navbar */
header {
  height: 33.3%;
}

header > h1 {
  font-size: 2rem;
  position: relative;
  top: 80px;
  text-align: center;
  color: gold;
}

header > nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

header > nav > ul {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  padding: 0;
  color: red;
}

header > nav > ul > li {
  font-size: 1.2rem;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  color: azure;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

/* is-favorite */

.is-favorite {
  display: block;
  font-size: 1.2rem;
  margin: auto;
  background-color: transparent;
  border: 4px azure solid;
  border-radius: 5px;
  margin-bottom: 15px;
}

.is-favorite.false {
  color: azure;
}

.is-favorite.true {
  color: aqua;
}

.is-favorite.true span {
  color: gold;
}

/* Footer */
footer {
  height: 10%;
}

footer > p {
  color: azure;
  text-align: center;
  border-bottom: none;
  padding: 0;
}

footer > p > a,
footer > p > a:visited {
  text-decoration: none;
  color: gold;
}
