/* Future task - remove all the height percentages and adjust to make GUI look good. Removing the height percentages will remove the 3 page look I gave it but make it look good in wide mobile view to where the content isn't overflowing into other content on the site. */

body {
  height: 300%;
}

.page-wrapper {
  height: 100%;
  background-image: url(../images/landing-background-image.jpg);
  background-size: cover;
  background-position: center;
}

/* .banner-fade-in {
  height: 100%;
  background-color: black;
  -moz-transition: opacity 5s ease;
  -webkit-transition: opacity 5s ease;
  -ms-transition: opacity 5s ease;
  transition: opacity 5s ease;
  opacity: 0;
} */

/* .nav-fade-in {
  height: 100%;
  background-color: black;
  -moz-transition: opacity 5s ease;
  -webkit-transition: opacity 5s ease;
  -ms-transition: opacity 5s ease;
  transition: opacity 5s ease;
  opacity: 0;
} */

/* Landing Page */
header > h1 {
  font-size: 4rem;
  position: relative;
  top: 150px;
  text-align: center;
  color: aqua;
}

/* Star Wars Trivia  */
main {
  height: 33.3%;
}

#star-wars-trivia > h2 {
  color: gold;
  height: 33.3%;
  text-align: center;
  padding: 75px 50px 0;
}

#star-wars-trivia > a,
#star-wars-trivia > a:visited {
  display: block;
  color: azure;
  font-size: 2rem;
  width: 250px;
  margin: auto;
  margin-bottom: 25px;
  padding: 10px 0;
  text-decoration: none;
  border: 2px solid azure;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#star-wars-trivia > a:hover {
  color: black;
  background: white;
}

#star-wars-trivia > a:first-of-type {
  margin-top: 75px;
}

/* Contact */
.get-in-touch {
  height: 33.3%;
}

.get-in-touch > p {
  font-size: 1.8rem;
  width: 80%;
  height: 90%;
  color: aqua;
  margin: auto;
  text-align: center;
  padding-top: 75px;
}
