body {
  height: 300%;
}

.page-wrapper {
  height: 100%;
  background-image:
    url(./images/landing-page/landing-background-image.jpg);
  background-size: cover;
  background-position: center;
}

/* .banner-fade-in {
  height: 100%;
  background-color: black;
  -moz-transition: opacity 5s ease;
  -webkit-transition: opacity 5s ease;
  -ms-transition: opacity 5s ease;
  transition: opacity 5s ease;
  opacity: 0;
} */

/* .nav-fade-in {
  height: 100%;
  background-color: black;
  -moz-transition: opacity 5s ease;
  -webkit-transition: opacity 5s ease;
  -ms-transition: opacity 5s ease;
  transition: opacity 5s ease;
  opacity: 0;
} */

/* Landing Page */
/* Home & navbar */

header {
  height: 33.3%;
}

header > nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  background: rgba(0,0,0,0.8);
}

header > h1 {
  font-size: 4rem;
  position: relative;
  top: 150px;
  text-align: center;
  color: aqua;
  /* border: 1px solid white; */
}

header > nav > ul {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  padding: 0;
  color: red;
  /* border: 1px solid; */
}

header > nav > ul > li {
  font-size: 1.2rem;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  color: azure;
  /* border: 1px solid; */
}

header > nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

/* Star Wars Trivia  */
main {
  height: 33.3%;
}

#star-wars-trivia > h2 {
  color: gold;
  height: 33.3%;
  text-align: center;
  padding: 75px 50px 0;
}

#star-wars-trivia > button {
  font-size: 2.5rem;
  height: 33.3%;
  width: 49%;
  background: none;
  border: none;
  margin-top: 100px;
  padding: 0;
}

#star-wars-trivia > button > a {
  text-decoration: none;
  color: gold;
}

/* Contact */
/* copy right */
#contact {
  height: 33.3%;
}

#contact > p {
  font-size: 1.8rem;
  width: 80%;
  height: 90%;
  color: aqua;
  margin: auto;
  text-align: center;
  padding-top: 75px;
}

#contact > div {
  height: 10%;
}

#contact > div > p {
  color: azure;
  text-align: center;
}

#contact > div > p > a {
  text-decoration: none;
  color: gold;
}

#contact > div > p > a:visited {
  text-decoration: none;
  color: gold;
}