section > a,
section > a:visited {
  display: block;
  background-color: azure;
  border-radius: 10px;
  border-style: outset;
  text-align: center;
  text-decoration: none;
  color: initial;
  margin: auto;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 200px;
  height: 50px;
}

section > a:hover {
  color: gold;
}